@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "../../app.scss";
.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;;
    justify-content: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 4rem;
    .text{
        padding: 4rem;
        width: 60%;
        display: flex;
        gap: 5rem;
        .big{
            text-align: justify;
            flex: 80;
            font-size: 2.5rem;
        }
        .small{
            font-size: 1.3rem;
            flex: 20;
            height: 100%;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            .small-text{
                flex: 80;
                font-family: "DM Sans", sans-serif;
                opacity: .7;
            }
            .projects-link{
                flex: 20;
                font-size: 1.6rem;
                text-decoration: underline;
                a{
                    cursor: none;
                    color: black;
                }
                // back 
            }
        }
    }
    .quote{
        height: 100%;
        position: relative;
        background-color: #edf2f4;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        .upper-text{
            z-index: 1;
            text-transform: uppercase;
            position: absolute;
            top: 2rem;
            left: 10%;
            font-size: 6rem;
            font-weight: 1000;
            user-select: none;
            color: #0d1b2a;
        }
        .canvas{
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        .lower-text{
            text-transform: uppercase;
            user-select: none;
            position: absolute;
            font-size: 6rem;
            bottom: 2rem;
            color: #ef233c;
            font-weight: 1000;
            right: 10%;
            z-index: 3;
        }
    }
}

@include mobile{
    .about{
        margin-bottom: 0;
        .text{
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 1.5rem;
            gap: 2rem;
            .big{
                text-align: left;
                font-size: 2.3rem;
            }
            .small{
                flex-direction: row;
                align-items: center;
                font-size: 1.1rem;
                gap: 1rem;
                .small-text{
                    flex: 40;
                }
                .projects-link{
                    font-size: 1.1rem;
                }
            }
        }
        .quote{
            height: 350px;
            .upper-text{
                font-size: 2.5rem;
                left: -10%;
            }
            .lower-text{
                font-size: 2.5rem;
                right: -10%;
            }
        }
    }
}
@include tablet{
    .about{
        margin-bottom: 0;
        justify-content: start;
        height: auto;
        .text{
            align-items: center;
            width: 100%;
            padding: 4rem;
            gap: 1rem;
            .big{
                text-align: left;
                font-size: 2.3rem;
            }
            .small{
                font-size: 1.1rem;
                gap: 1rem;
                .small-text{
                    flex: 40;
                }
                .projects-link{
                    font-size: 1.1rem;
                }
            }
        }
        .quote{
            height: 40rem;
            .upper-text{
                font-size: 4rem;
                left: -10%;
            }
            .lower-text{
                font-size: 4rem;
                right: -10%;
            }
        }
    }
}