@import "../../app.scss";
.skill-card{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 30%;
    background-color: #f5f4f7;
    padding: 3rem;
    transform-style: preserve-3d;

    h3{
        text-align: center;
        font-size: 1.5rem;
        transform: translateZ(75px);
        transform-style: preserve-3d;
    }
    .icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        transform: translateZ(100px);
        transform-style: preserve-3d;
        img{
            height: 3rem;
            width: 3rem;
        }
    }
}
@include mobile{
    .skill-card{
        width: 100%;
    }
}