@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.navbar{
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    p{
        font-family: "DM Sans", sans-serif;
        color: white;
    }
}