*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    cursor: none;
    scroll-behavior: smooth;
}
::selection {
    background: #fa4b5f; /* Background color of the selection */
    color: #ffffff; /* Text color of the selection */
  }


@mixin mobile{
    @media(max-width:738px) {
        @content;
    }
}
@mixin tablet{
    @media(max-width:1024px) and (min-width:738px) {
        @content;
    }
}
@mixin desktop{
    @media(max-width:1366px) and (min-width:1024px)   {
        @content;
    }
}
